/* index styles.css */
@import url("../styles.css");

#container h1 span {
    color: #00ff00; /* Initial color */
    transition: color 0.3s; /* Smooth transition for color change */
}

.graphContainer {
    width: 50vw;
    margin: auto;
}

.graphContainer canvas {
    width: 100%;
    height: auto;
}
