/* index styles.css */

/* General styles */
body {
    background-color: #1a1a1a;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Removes underline from links and sets color to inherit which means it will use the color of the parent element */
#container a {
    text-decoration: none;
    color: inherit;
}

/* Styles for the h1 */
h1 {
    text-align: center;
    margin-top: 50px;
}

/* Styles for the h2 */
h2 {
    margin-top: 50px;
}

.tekst {
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
}

/* Removes bullets from lists */
ul, ol {
    list-style-type: none;
}

/* Flying ufo styles */
#flyingImage {
    position: absolute;
    width: 100px;
    height: auto;
    z-index: 10;
}

/* Container styles */
#container h1 span {
    color: white; /* Initial color */
    transition: color 0.3s; /* Smooth transition for color change */
}

/* Navbar styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    overflow: hidden;
    padding: 10px 0;
}

/* Style for all navbar links */
.navbar a {
    flex-grow: 1;
    text-align: center;
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

/* Vertical line separator on the left nav link */
.navbar a:not(:last-child) {
    border-right: 1px solid #00ff00;
}

/* Change link color on hover */
.navbar a:hover {
    background-color: #00ff00;
    color: black;
}

/* Ensures layout works for smaller screens */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }
    .navbar a:not(:last-child) {
        border-right: none;
    }
}

/* Styles for the button to make it more appealing */
#myButton {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Change background color on hover */
#myButton:hover {
    background-color: #45a049;
}

/* Styles for the notes section */
#notesContainer {
    display: none;
    margin: 20px auto;
    padding: 15px;
    max-width: 600px;
    background-color: #000;
    color: #fff;
    border: 1px solid #444;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    white-space: pre-wrap;
}
