/* index styles.css */

body {
    background-color: #1a1a1a; /* Dark background color */
    color: white;            /* Lime green text color */
    font-family: Arial, sans-serif; /* Optional: sets the default font */
    margin: 0;
    padding: 0;
}

#container a {
    text-decoration: none; /* Removes underline */
    color: inherit; /* Optional: ensures the link uses the parent's text color */
}

h1 {
    text-align: center; /* Center the text */
    margin-top: 50px;   /* Add some space at the top */
}

h2 {
    margin-top: 50px;   /* Add some space at the top */
}

.tekst {
    text-align: left; /* Center the text */
    margin-left: 100px;
    margin-right: 100px;
}

/* Flying ufo styles */

#flyingImage {
    position: absolute; /* Position it relative to its nearest positioned ancestor or the viewport */
    width: 100px;       /* Adjust the size as needed */
    height: auto;       /* Maintain aspect ratio */
    z-index: 10;        /* Ensure it's above other elements */
    /* Initially positioned off-screen or hidden */
}

#container h1 span {
    color: white; /* Initial color */
    transition: color 0.3s; /* Smooth transition for color change */
}

/* Navbar styles */
.navbar {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space out items */
    align-items: center; /* Align items vertically */
    background-color: #333; /* Background color */
    overflow: hidden; /* Clear floats */
    padding: 10px 0; /* Padding around links */
}

/* Style for all navbar links */
.navbar a {
    flex-grow: 1; /* Flex grow to fill the space evenly */
    text-align: center; /* Center text */
    color: white; /* Text color */
    padding: 14px 20px; /* Padding */
    text-decoration: none; /* No underline */
    font-size: 17px; /* Font size */
}

/* Vertical line separator */
.navbar a:not(:last-child) {
    border-right: 1px solid #00ff00; /* Right border for separator */
}

/* Change link color on hover */
.navbar a:hover {
    background-color: #00ff00; /* Light background on hover */
    color: black; /* Text color on hover */
}

/* Responsive layout for smaller screens */
@media screen and (max-width: 600px) {
    .navbar {
        flex-direction: column; /* Stack links vertically */
    }
    .navbar a:not(:last-child) {
        border-right: none; /* Remove border in small screens */
    }
}

