/* index styles.css */
@import url("../styles.css");

/* This changes the color of the link when the mouse hovers over it */
#container h1 span {
    color: #00ff00;
    transition: color 0.3s;
}


/* Leaflet styles */

/* This is the container for the map */
#map {
    width: 100vw;
    height: 100vw;
    max-width: 800px;
    max-height: 500px;
    padding: 30px;
    border-radius: 20px;
    box-sizing: border-box;
    margin: auto;
}

#map-container {
    display: flex;
    justify-content: center;
}
.item {
    display: flex;
    justify-content: center;
}

.leaflet-tekst {
    display: flex;
    justify-content: center;
    width: 46vw;
    color: #00ff00;
}



